{
  "prod": {
    "host": "https://signal-api.yourssu.com"
  },

  "dev": {
    "host": "https://signal-dev-api.yourssu.com",
    "accessKey": "your-admin-access-key"
  },

  "local-dev": {
    "host": "localhost:9011",
    "accessKey": "your-admin-access-key"
  },

  "local": {
    "host": "localhost:8080",
    "accessKey": "your-admin-access-key"
  }
}
